
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load static %}
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : StoneWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140228

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DebunkVax | All your Vaccine Information</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'fonts.css' %}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{% url 'home' %}">DebunkVax</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
				<li><a href="{% url 'survey1' %}" accesskey="2" title="">Get Started</a></li>
				<li><a href="{% url 'analysis' %}" accesskey="3" title="">Topic Modeling</a></li>
			</ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2>Are you concerned?</h2>
			<span class="byline">Express your vaccine concerns and learn more!</span>
		</div>
		<ul class="actions">
			<li><a href="{% url 'survey1' %}" class="button">Get Started</a></li>
		</ul>
	</div>
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>All You Need and Want to Know About Vaccines</h2>
			<span class="byline">With the global pandemic and the recent release of the vaccines, it is absolutely important for us to be informed and make our best decisions.</span>
		</div>
		<div class="tbox1">
			<span class="fa fa-medkit"></span>
			<p>Your chance to learn more about vaccinations! Most pertinent concerns selected through topic modeling of various online communities.</p>
			<a href="{% url 'survey1' %}" class="button button-alt">More Info</a>
		</div>
		<div class="tbox2">
			<span class="fa fa-comments"></span>
			<p>Hear what other's are talking about in the community. New text data analysis and topic modeling to provide insights into the public's opinion.</p>
			<a href="{% url 'analysis' %}" class="button button-alt">More Info</a>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Shaun Kim. All rights reserved.| Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
